.body {
    width: 100%;
    min-height: 100vh;
    background-color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
}
.searchBlock {
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.input {
    height: 40px;
    border-radius: 10px;
    outline: 3px;
    border: 3px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #adabab;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: gray;
    }
}
.btn {
    background-color: #e91e63;
    color: white;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: #aa1c4b;
    }
}
.searchRes {
    background-color: #dfdfdf;
    margin-top: 30px;
    border-radius: 10px;
    min-height: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.resultWrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 33px;
}
